@mixin figcaption(){
            padding: 20px;
            line-height: 1.5;
            position: absolute;
            bottom: 0;
            right: 0;
            text-align: right;
            opacity: 0.9;
}

.cast-scenes {
    padding: 5.6vw;
    min-height: 100vh;
    background-color: rgb(31, 25, 20);
    box-shadow: 0px -1px 20px 4px;
    


    &__tabs {
        display: flex;
        justify-content: center;
    }

    &__item {
        margin: 0 auto;
        margin-bottom: 1rem;
        position: relative;

        figcaption {

            @include figcaption(); 

            .fig-title {
                font-size: 1.5rem;
                font-weight: 700;
            }

            .fig-character {
                font-weight: bold;
                font-size: 1rem;
            }

        }
    }

    &__content {
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        &--is-active {
            display: grid;
        }

        img {
            position: relative;
            width: 40vw;
            height: 20vw;
            max-width: 100%;
            padding-top: 20px;
            transition: opacity 0.5s;


            &:hover {
                opacity: .3;
            }
        }

    }

    &__button {
        background-color: transparent;
        border: none;
        margin: 0 1vw;

        &--is-active {
            border-bottom: solid;
        }

    }

    &__director {
        margin-top: 44px;
        display: none;
        
        &--is-active {
            display: block;
        }

        img {
            width: 16vw;
        }
    }

    &__item--bio {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        gap: 40px;
        box-shadow: 1px -1px 8px 2px;
        padding: 20px;
        border-radius: 8px;
        .text--big {
            font-size: 20px;
        }

    }

    
    &__posters {
        margin: 0 auto;
        margin-bottom: 9rem;
        position: relative;
        

        figcaption {

            @include figcaption();

            .fig-title {
                font-size: 1.5rem;
                font-weight: 700;
                color: #fff;
            }

            .fig-character {
                font-weight: bold;
                font-size: 1rem;
                color: #fff;
            }

        }
        
    }

    &__movies {
        padding-top: 32px;
        display:none;
        grid-template-columns: repeat(3, 1fr);
        align-self: center;

        &--is-active {
            display: grid;
        }

        
        img {
            position: relative;
            width: 16vw;
            max-width: 100%;
            transition: opacity 0.5s;
            
        &:hover {
                opacity: .1;
            }
        }
    }
}