
.hero {
    padding: 5.6vw;
    min-height: 70vh;
    background-color: rgb(31, 25, 20);

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;

        

    }

    &__text {
        padding: 50px 0px;
        font-family: Lora;

        &--last {
            display: flex;
            flex-direction: column;
            align-items: center;


        }

        .title--big {
            text-align: right;
            padding-top: 24px;
            font-family: Nunito;
        }

    }



}