
.hero {
    padding: 5.6vw;
    min-height: 100vh;
    background-color: rgb(31, 25, 20);
    
    img {
        width: 700px;
        padding-bottom: 10px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }

    &__text {
        &--last {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .title--big {
            text-align: right;
            padding-top: 15px;
            font-family: Nunito;
        }

    }



}