@use 'variaveis' as *;

.sinopse {
    padding: 5.6vw;
    min-height: 100vh;
    background-image:linear-gradient(to bottom, transparent 0%, $corDeFundo 90%), url(../images/cast_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px -8px 10px;
    display: flex;
    align-items: flex-end;

    @media(max-width: 768px){
        margin: 0 auto;
        padding: 1rem;
        min-height: 70vh;
        background-position-x: right, 46%;
        background-size: cover;
        
    }
    &__content{
    .title--big {
            text-align: center;
            font-size: 20px;
            font-family: Lora;

            @media(max-width: 768px){
                font-size: 16px;
                max-width: 90%;
                text-align: center;
                
            }
        }
    }
}